.addTask{
    position:sticky;   
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.addTask__button{
    width: 40px;
    height: 40px;
    background-color:mediumorchid;
    border: none;    
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.54rem;
}

.addTask__button:hover{
    cursor: pointer;
    background-color: rgb(145, 50, 235);
}
.addTask__button:active,
.addTask__button:focus{
    cursor: pointer;
    background-color: rgb(118, 36, 194);
}