main h2{
    text-align: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    justify-content: center;
}

.menu li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 5px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}

.link--SeeAll{
    background-color: #64b7ff; 
 }
 .link--Personal{
    background-color: #2cbb31; 
 }
 .link--Work{
    background-color: #ffb364; 
 }
 .link--Academic{
    background-color: #ff649d; 
 }
 .link--Health{
    background-color: #ddb217; 
 }
